<acl>
    <group name="Admin">
        <acl name="Admin"></acl>
        <object name="user.Console"></object>
        <object name="user.robert9876"></object>
    </group>
    <group name="GameOperator"></group>
    <group name="Desarrollador">
        <acl name="Desarrollador"></acl>
        <object name="user.Luis_Cardenas"></object>
        <object name="user.cossiwebstudio"></object>
        <object name="user.jeicordero"></object>
        <object name="user.Dilan"></object>
    </group>
    <group name="Moderador">
        <acl name="Moderador"></acl>
    </group>
    <group name="Helper">
        <acl name="Helper"></acl>
    </group>
    <group name="VIP">
        <acl name="VIP"></acl>
    </group>
    <group name="autoGroup_acpanel">
        <acl name="autoACL_acpanel"></acl>
        <object name="resource.acpanel"></object>
    </group>
    <group name="autoGroup_mapmanager">
        <acl name="autoACL_mapmanager"></acl>
        <object name="resource.mapmanager"></object>
    </group>
    <group name="autoGroup_runcode">
        <acl name="autoACL_runcode"></acl>
        <object name="resource.runcode"></object>
    </group>
    <group name="autoGroup_dgs">
        <acl name="autoACL_dgs"></acl>
        <object name="resource.dgs"></object>
    </group>
    <group name="autoGroup_gresources">
        <acl name="autoACL_gresources"></acl>
        <object name="resource.gresources"></object>
    </group>
    <group name="autoGroup_guieditor">
        <acl name="autoACL_guieditor"></acl>
        <object name="resource.guieditor"></object>
    </group>
    <group name="autoGroup_SKCarregar">
        <acl name="autoACL_SKCarregar"></acl>
        <object name="resource.SKCarregar"></object>
    </group>
    <group name="autoGroup_JEIAC">
        <acl name="autoACL_JEIAC"></acl>
        <object name="resource.JEIAC"></object>
    </group>
    <group name="autoGroup_camaras">
        <acl name="autoACL_camaras"></acl>
        <object name="resource.camaras"></object>
    </group>
    <group name="autoGroup_interiors">
        <acl name="autoACL_interiors"></acl>
        <object name="resource.interiors"></object>
    </group>
    <group name="Policia">
        <acl name="Policia"></acl>
        <object name="user.Juan1"></object>
        <object name="user.yessica"></object>
        <object name="user.kokushibo"></object>
        <object name="user.Andres Mercado"></object>
        <object name="user.robert9876"></object>
        <object name="user.Miguel"></object>
    </group>
    <group name="Sura">
        <acl name="Sura"></acl>
    </group>
    <group name="Meca">
        <acl name="Meca"></acl>
        <object name="user.JuanchoSBK"></object>
        <object name="user.leandro"></object>
        <object name="user.cata345"></object>
        <object name="user.Danielxz"></object>
    </group>
    <group name="Ejercito">
        <acl name="Ejercito"></acl>
        <object name="user.Dilon Baby"></object>
        <object name="user.zubserou212"></object>
        <object name="user.JUANsanchez"></object>
        <object name="user.Cristian R"></object>
        <object name="user.Jeison_Cordoba"></object>
        <object name="user.CRISTOPFER"></object>
    </group>
    <group name="MAFIARUSA">
        <acl name="MAFIARUSA"></acl>
        <object name="user.JuanchoSBK"></object>
        <object name="user.sebastian blood"></object>
        <object name="user.JUNIOR2024"></object>
        <object name="user.cloudfgrl"></object>
    </group>
    <group name="ELN">
        <acl name="ELN"></acl>
    </group>
    <group name="CDG">
        <acl name="CDG"></acl>
    </group>
    <group name="CDJ">
        <acl name="CDJ"></acl>
    </group>
    <group name="JEFESCLUBKYOTO">
        <acl name="JEFESCLUBKYOTO"></acl>
        <object name="user.Fab"></object>
    </group>
    <group name="KYOTOCLUB">
        <acl name="KYOTOCLUB"></acl>
    </group>
    <group name="CartelMedellin"></group>
    <group name="CartelCali"></group>
    <group name="Los13"></group>
    <group name="TDA">
        <acl name="TDA"></acl>
        <object name="user.Johan_Hernandez"></object>
        <object name="user.Davinsito"></object>
        <object name="user.Estiwar_Osorio"></object>
    </group>
    <group name="autoGroup_nametag-capital">
        <acl name="autoACL_nametag-capital"></acl>
        <object name="resource.nametag-capital"></object>
    </group>
    <group name="autoGroup_nuevosModelos_GTARG">
        <acl name="autoACL_nuevosModelos_GTARG"></acl>
        <object name="resource.nuevosModelos_GTARG"></object>
    </group>
    <group name="autoGroup_pAttach">
        <acl name="autoACL_pAttach"></acl>
        <object name="resource.pAttach"></object>
    </group>
    <group name="autoGroup_pAttach-armas">
        <acl name="autoACL_pAttach-armas"></acl>
        <object name="resource.pAttach-armas"></object>
    </group>
    <acl name="Admin">
        <right name="general.adminpanel" access="true"></right>
        <right name="general.modpanel" access="true"></right>
        <right name="command.shutdown" access="true"></right>
        <right name="general.tab_players" access="true"></right>
        <right name="general.tab_resources" access="true"></right>
        <right name="general.tab_maps" access="true"></right>
        <right name="general.tab_server" access="true"></right>
        <right name="general.tab_bans" access="true"></right>
        <right name="general.tab_adminchat" access="true"></right>
        <right name="command.kick" access="true"></right>
        <right name="command.freeze" access="true"></right>
        <right name="command.mute" access="true"></right>
        <right name="command.setnick" access="true"></right>
        <right name="command.shout" access="true"></right>
        <right name="command.spectate" access="true"></right>
        <right name="command.slap" access="true"></right>
        <right name="command.setgroup" access="true"></right>
        <right name="command.sethealth" access="true"></right>
        <right name="command.setarmour" access="true"></right>
        <right name="command.setmoney" access="true"></right>
        <right name="command.setskin" access="true"></right>
        <right name="command.setteam" access="true"></right>
        <right name="command.removefromteam" access="true"></right>
        <right name="command.giveweapon" access="true"></right>
        <right name="command.setstat" access="true"></right>
        <right name="command.jetpack" access="true"></right>
        <right name="command.warp" access="true"></right>
        <right name="command.warpto" access="true"></right>
        <right name="command.setdimension" access="true"></right>
        <right name="command.setinterior" access="true"></right>
        <right name="command.createteam" access="true"></right>
        <right name="command.destroyteam" access="true"></right>
        <right name="command.givevehicle" access="true"></right>
        <right name="command.repair" access="true"></right>
        <right name="command.blowvehicle" access="true"></right>
        <right name="command.destroyvehicle" access="true"></right>
        <right name="command.customize" access="true"></right>
        <right name="command.setcolor" access="true"></right>
        <right name="command.setlights" access="true"></right>
        <right name="command.setpaintjob" access="true"></right>
        <right name="command.setplates" access="true"></right>
        <right name="command.listmessages" access="true"></right>
        <right name="command.readmessage" access="true"></right>
        <right name="command.listresources" access="true"></right>
        <right name="command.start" access="true"></right>
        <right name="command.stop" access="true"></right>
        <right name="command.stopall" access="false"></right>
        <right name="command.delete" access="true"></right>
        <right name="command.restart" access="true"></right>
        <right name="command.aclmanager" access="true"></right>
        <right name="command.aclcreate" access="true"></right>
        <right name="command.acldestroy" access="true"></right>
        <right name="command.acladd" access="true"></right>
        <right name="command.aclremove" access="true"></right>
        <right name="command.setpassword" access="true"></right>
        <right name="command.setwelcome" access="true"></right>
        <right name="command.setgame" access="true"></right>
        <right name="command.setmap" access="true"></right>
        <right name="command.setweather" access="true"></right>
        <right name="command.blendweather" access="true"></right>
        <right name="command.setblurlevel" access="true"></right>
        <right name="command.setwaveheight" access="true"></right>
        <right name="command.setskygradient" access="true"></right>
        <right name="command.setgamespeed" access="true"></right>
        <right name="command.setgravity" access="true"></right>
        <right name="command.settime" access="true"></right>
        <right name="command.setfpslimit" access="true"></right>
        <right name="function.shutdown" access="true"></right>
        <right name="command.clearchat" access="true"></right>
        <right name="command.ban" access="true"></right>
        <right name="command.unban" access="true"></right>
        <right name="command.banip" access="true"></right>
        <right name="command.unbanip" access="true"></right>
        <right name="command.banserial" access="true"></right>
        <right name="command.unbanserial" access="true"></right>
        <right name="command.listbans" access="true"></right>
        <right name="command.takescreenshot" access="true"></right>
        <right name="command.deletescreenshot" access="true"></right>
        <right name="command.deleteallscreenshot" access="true"></right>
        <right name="command.modchat" access="true"></right>
        <right name="command.viewscreenshot" access="true"></right>
        <right name="command.listscreenshots" access="true"></right>
        <right name="command.execute" access="true"></right>
        <right name="function.setServerConfigSetting" access="true"></right>
        <right name="function.updateResourceACLRequest" access="true"></right>
        <right name="command.aclrequest" access="true"></right>
    </acl>
    <acl name="autoACL_acpanel">
        <right name="function.setServerConfigSetting" access="false" who="" pending="true" date=""></right>
        <right name="function.kickPlayer" access="false" who="" pending="true" date=""></right>
        <right name="function.fetchRemote" access="false" who="" pending="true" date=""></right>
    </acl>
    <acl name="autoACL_mapmanager">
        <right name="function.startResource" access="false" who="" pending="true" date=""></right>
        <right name="function.restartResource" access="false" who="" pending="true" date=""></right>
        <right name="function.stopResource" access="false" who="" pending="true" date=""></right>
        <right name="function.refreshResources" access="false" who="" pending="true" date=""></right>
    </acl>
    <acl name="autoACL_runcode">
        <right name="function.setServerPassword" access="false" who="" pending="true" date=""></right>
    </acl>
    <acl name="autoACL_dgs">
        <right name="function.fetchRemote" access="false" who="" pending="true" date=""></right>
        <right name="general.ModifyOtherObjects" access="false" who="" pending="true" date=""></right>
    </acl>
    <acl name="autoACL_gresources">
        <right name="function.startResource" access="false" who="" pending="true" date=""></right>
        <right name="function.restartResource" access="false" who="" pending="true" date=""></right>
    </acl>
    <acl name="autoACL_guieditor">
        <right name="general.ModifyOtherObjects" access="false" who="" pending="true" date=""></right>
        <right name="function.callRemote" access="false" who="" pending="true" date=""></right>
    </acl>
    <acl name="autoACL_SKCarregar">
        <right name="function.fetchRemote" access="false" who="" pending="true" date=""></right>
        <right name="function.stopResource" access="false" who="" pending="true" date=""></right>
    </acl>
    <acl name="autoACL_JEIAC">
        <right name="general.http" access="false" who="" pending="true" date=""></right>
        <right name="function.dbConnect" access="false" who="" pending="true" date=""></right>
        <right name="function.dbExec" access="false" who="" pending="true" date=""></right>
        <right name="function.dbQuery" access="false" who="" pending="true" date=""></right>
        <right name="function.dbPoll" access="false" who="" pending="true" date=""></right>
        <right name="function.addBan" access="false" who="" pending="true" date=""></right>
        <right name="function.fetchRemote" access="false" who="" pending="true" date=""></right>
        <right name="function.fileCreate" access="false" who="" pending="true" date=""></right>
        <right name="function.fileWrite" access="false" who="" pending="true" date=""></right>
        <right name="function.fileRead" access="false" who="" pending="true" date=""></right>
        <right name="function.fileClose" access="false" who="" pending="true" date=""></right>
    </acl>
    <acl name="autoACL_camaras"></acl>
    <acl name="autoACL_interiors">
        <right name="function.restartResource" access="false" who="" pending="true" date=""></right>
    </acl>
    <acl name="autoACL_nametag-capital">
        <right name="function.setElementData" access="false" who="" pending="true" date=""></right>
        <right name="function.getElementData" access="false" who="" pending="true" date=""></right>
        <right name="function.outputChatBox" access="false" who="" pending="true" date=""></right>
        <right name="function.outputServerLog" access="false" who="" pending="true" date=""></right>
    </acl>
    <acl name="autoACL_nuevosModelos_GTARG">
        <right name="function.kickPlayer" access="false" who="" pending="true" date=""></right>
        <right name="function.fetchRemote" access="false" who="" pending="true" date=""></right>
    </acl>
    <acl name="autoACL_pAttach">
        <right name="function.fetchRemote" access="false" who="" pending="true" date=""></right>
    </acl>
    <acl name="autoACL_pAttach-armas">
        <right name="function.fetchRemote" access="false" who="" pending="true" date=""></right>
    </acl>
    <acl name="Desarrollador">
        <right name="general.adminpanel" access="true"></right>
        <right name="general.modpanel" access="true"></right>
        <right name="command.shutdown" access="true"></right>
        <right name="general.tab_players" access="true"></right>
        <right name="general.tab_resources" access="true"></right>
        <right name="general.tab_maps" access="true"></right>
        <right name="general.tab_server" access="true"></right>
        <right name="general.tab_bans" access="true"></right>
        <right name="general.tab_adminchat" access="true"></right>
        <right name="command.kick" access="true"></right>
        <right name="command.freeze" access="true"></right>
        <right name="command.mute" access="true"></right>
        <right name="command.setnick" access="true"></right>
        <right name="command.shout" access="true"></right>
        <right name="command.spectate" access="true"></right>
        <right name="command.slap" access="true"></right>
        <right name="command.setgroup" access="true"></right>
        <right name="command.sethealth" access="true"></right>
        <right name="command.setarmour" access="true"></right>
        <right name="command.setmoney" access="true"></right>
        <right name="command.setskin" access="true"></right>
        <right name="command.setteam" access="true"></right>
        <right name="command.removefromteam" access="true"></right>
        <right name="command.giveweapon" access="true"></right>
        <right name="command.setstat" access="true"></right>
        <right name="command.jetpack" access="true"></right>
        <right name="command.warp" access="true"></right>
        <right name="command.warpto" access="true"></right>
        <right name="command.setdimension" access="true"></right>
        <right name="command.setinterior" access="true"></right>
        <right name="command.createteam" access="true"></right>
        <right name="command.destroyteam" access="true"></right>
        <right name="command.givevehicle" access="true"></right>
        <right name="command.repair" access="true"></right>
        <right name="command.blowvehicle" access="true"></right>
        <right name="command.destroyvehicle" access="true"></right>
        <right name="command.customize" access="true"></right>
        <right name="command.setcolor" access="true"></right>
        <right name="command.setlights" access="true"></right>
        <right name="command.setpaintjob" access="true"></right>
        <right name="command.setplates" access="true"></right>
        <right name="command.listmessages" access="true"></right>
        <right name="command.readmessage" access="true"></right>
        <right name="command.listresources" access="true"></right>
        <right name="command.start" access="true"></right>
        <right name="command.stop" access="true"></right>
        <right name="command.stopall" access="true"></right>
        <right name="command.delete" access="true"></right>
        <right name="command.restart" access="true"></right>
        <right name="command.aclmanager" access="true"></right>
        <right name="command.aclcreate" access="true"></right>
        <right name="command.acldestroy" access="true"></right>
        <right name="command.acladd" access="true"></right>
        <right name="command.aclremove" access="true"></right>
        <right name="command.setpassword" access="true"></right>
        <right name="command.setwelcome" access="true"></right>
        <right name="command.setgame" access="true"></right>
        <right name="command.setmap" access="true"></right>
        <right name="command.setweather" access="true"></right>
        <right name="command.blendweather" access="true"></right>
        <right name="command.setblurlevel" access="true"></right>
        <right name="command.setwaveheight" access="true"></right>
        <right name="command.setskygradient" access="true"></right>
        <right name="command.setgamespeed" access="true"></right>
        <right name="command.setgravity" access="true"></right>
        <right name="command.settime" access="true"></right>
        <right name="command.setfpslimit" access="true"></right>
        <right name="function.shutdown" access="true"></right>
        <right name="command.clearchat" access="true"></right>
        <right name="command.ban" access="true"></right>
        <right name="command.unban" access="true"></right>
        <right name="command.banip" access="true"></right>
        <right name="command.unbanip" access="true"></right>
        <right name="command.banserial" access="true"></right>
        <right name="command.unbanserial" access="true"></right>
        <right name="command.listbans" access="true"></right>
        <right name="command.takescreenshot" access="true"></right>
        <right name="command.deletescreenshot" access="true"></right>
        <right name="command.deleteallscreenshot" access="true"></right>
        <right name="command.modchat" access="true"></right>
        <right name="command.revivir" access="true"></right>
        <right name="command.reconectar" access="true"></right>
        <right name="command.desbug" access="true"></right>
        <right name="command.mandarls" access="true"></right>
        <right name="command.get" access="true"></right>
        <right name="command.goto" access="true"></right>
        <right name="command.setname" access="true"></right>
        <right name="command.pagostaff" access="true"></right>
        <right name="command.unfreeze" access="true"></right>
        <right name="command.sethealth" access="true"></right>
        <right name="command.sethp" access="true"></right>
        <right name="command.capitaldatos" access="true"></right>
        <right name="command.fecha" access="true"></right>
        <right name="command.staffduty" access="true"></right>
        <right name="command.adminduty" access="true"></right>
        <right name="command.modduty" access="true"></right>
        <right name="command.helperduty" access="true"></right>
        <right name="command.verhorastaff" access="true"></right>
        <right name="command.limpiarhorasstaff" access="true"></right>
        <right name="command.sumarhorastaff" access="true"></right>
        <right name="command.cambiarclave" access="true"></right>
        <right name="command.idiomas" access="true"></right>
        <right name="command.checkperms" access="true"></right>
        <right name="command.adminactivo" access="true"></right>
        <right name="command.staffon" access="true"></right>
        <right name="command.low" access="true"></right>
        <right name="command.genero" access="true"></right>
        <right name="command.color" access="true"></right>
        <right name="command.edad" access="true"></right>
        <right name="command.gotoveh" access="true"></right>
        <right name="command.gotovehicle" access="true"></right>
        <right name="command.getveh" access="true"></right>
        <right name="command.getvehicle" access="true"></right>
        <right name="command.gotoint" access="true"></right>
        <right name="command.gotointerior" access="true"></right>
        <right name="command.radiostaff" access="true"></right>
        <right name="command.conectados" access="true"></right>
        <right name="command.agentes" access="true"></right>
        <right name="command.medicos" access="true"></right>
        <right name="command.mecanicos" access="true"></right>
        <right name="command.operativos" access="true"></right>
        <right name="command.factions" access="true"></right>
        <right name="command.titular" access="true"></right>
        <right name="command.verjailde" access="true"></right>
        <right name="command.togglemodchat" access="true"></right>
        <right name="command.togglepm" access="true"></right>
        <right name="command.mutepm" access="true"></right>
        <right name="command.sancionar" access="true"></right>
        <right name="command.spec" access="true"></right>
        <right name="command.spectate" access="true"></right>
        <right name="command.recon" access="true"></right>
        <right name="command.spec2" access="true"></right>
        <right name="command.fixveh" access="true"></right>
        <right name="command.fixvehicle" access="true"></right>
        <right name="command.repairvehicle" access="true"></right>
        <right name="command.respawnvehicles" access="true"></right>
        <right name="command.regenerarvehicles" access="true"></right>
        <right name="command.rvs" access="true"></right>
        <right name="command.refillvehicles" access="true"></right>
        <right name="command.fillvehicles" access="true"></right>
        <right name="command.fuelvehicles" access="true"></right>
        <right name="command.rv" access="true"></right>
        <right name="command.respawnvehicle" access="true"></right>
        <right name="command.regenerarvehicle" access="true"></right>
        <right name="command.datos" access="true"></right>
        <right name="command.freecam" access="true"></right>
        <right name="command.giveitem" access="true"></right>
        <right name="command.liberar" access="true"></right>
        <right name="command.createtext" access="true"></right>
        <right name="command.deletetext" access="true"></right>
        <right name="command.nearbytexts" access="true"></right>
        <right name="command.createshop" access="true"></right>
        <right name="command.deleteshop" access="true"></right>
        <right name="command.nearbyshops" access="true"></right>
        <right name="command.delveh" access="true"></right>
        <right name="command.veh" access="true"></right>
        <right name="command.vehicle" access="true"></right>
        <right name="command.temporaryvehicle" access="true"></right>
        <right name="command.temporaryveh" access="true"></right>
        <right name="command.tempvehicle" access="true"></right>
        <right name="command.tempveh" access="true"></right>
        <right name="command.vehsf" access="true"></right>
        <right name="command.createint" access="true"></right>
        <right name="command.createinterior" access="true"></right>
        <right name="command.deleteint" access="true"></right>
        <right name="command.deleteinterior" access="true"></right>
        <right name="command.delinterior" access="true"></right>
        <right name="command.getint" access="true"></right>
        <right name="command.getinterior" access="true"></right>
        <right name="command.setintprice" access="true"></right>
        <right name="command.setinteriorprice" access="true"></right>
        <right name="command.setinterior" access="true"></right>
        <right name="command.setinteriorinside" access="true"></right>
        <right name="command.setinteriorinsideveh" access="true"></right>
        <right name="command.setinterioroutsideveh" access="true"></right>
        <right name="command.setinteriorname" access="true"></right>
        <right name="command.setinteriorowner" access="true"></right>
        <right name="command.nearbyints" access="true"></right>
        <right name="command.gotointerior" access="true"></right>
        <right name="command.trasladarinterior" access="true"></right>
        <right name="command.precintarinterior" access="true"></right>
        <right name="command.quitarprecinto" access="true"></right>
        <right name="command.asociarinteriores" access="true"></right>
        <right name="command.intgenerico" access="true"></right>
        <right name="command.comprarint" access="true"></right>
        <right name="command.sellinterior" access="true"></right>
        <right name="command.venderpropiedad" access="true"></right>
        <right name="command.venderint" access="true"></right>
        <right name="command.puntoreparto" access="true"></right>
        <right name="command.timbre" access="true"></right>
        <right name="command.mirilla" access="true"></right>
        <right name="command.acceptreport" access="true"></right>
        <right name="command.getpos" access="true"></right>
        <right name="command.gotopos" access="true"></right>
        <right name="command.setdimension" access="true"></right>
        <right name="command.setdim" access="true"></right>
        <right name="command.horas" access="true"></right>
        <right name="command.objetos" access="true"></right>
        <right name="command.dobjetos" access="true"></right>
        <right name="command.carogallego" access="true"></right>
        <right name="command.mping" access="true"></right>
        <right name="command.id" access="true"></right>
        <right name="command.bs81" access="true"></right>
        <right name="command.bs82" access="true"></right>
        <right name="command.createperiodico" access="true"></right>
        <right name="command.nearbyperiodicos" access="true"></right>
        <right name="command.deleteperiodico" access="true"></right>
        <right name="command.createatm" access="true"></right>
        <right name="command.deleteatm" access="true"></right>
        <right name="command.nearbyatms" access="true"></right>
        <right name="command.createcabina" access="true"></right>
        <right name="command.deletecabina" access="true"></right>
        <right name="command.nearbycabinas" access="true"></right>
        <right name="command.markteleport" access="true"></right>
        <right name="command.createteleport" access="true"></right>
        <right name="command.nearbyteleports" access="true"></right>
        <right name="command.setintowner" access="true"></right>
        <right name="command.setintname" access="true"></right>
        <right name="command.setfaction" access="true"></right>
        <right name="command.makeveh" access="true"></right>
        <right name="command.faleatorio" access="true"></right>
        <right name="command.fquitar" access="true"></right>
        <right name="command.createfuelpoint" access="true"></right>
        <right name="command.setvehiclefaction" access="true"></right>
        <right name="command.setvehcolor" access="true"></right>
        <right name="command.setowner" access="true"></right>
        <right name="general.ModifyOtherObjects" access="true"></right>
        <right name="general.http" access="true"></right>
        <right name="function.dbConnect" access="true"></right>
        <right name="function.dbExec" access="true"></right>
        <right name="function.dbQuery" access="true"></right>
        <right name="function.dbPoll" access="true"></right>
        <right name="function.fetchRemote" access="true"></right>
        <right name="function.addAccount" access="true"></right>
        <right name="function.removeAccount" access="true"></right>
        <right name="function.setAccountPassword" access="true"></right>
        <right name="function.kickPlayer" access="true"></right>
        <right name="function.banIP" access="true"></right>
        <right name="function.banPlayer" access="true"></right>
        <right name="function.banSerial" access="true"></right>
        <right name="function.getBansXML" access="true"></right>
        <right name="function.removeBan" access="true"></right>
        <right name="function.addBan" access="true"></right>
        <right name="function.setPlayerMuted" access="true"></right>
        <right name="function.executeCommandHandler" access="true"></right>
    </acl>
    <acl name="Moderador">
        <right name="command.modchat" access="true"></right>
    </acl>
    <acl name="Helper">
        <right name="command.modchat" access="true"></right>
    </acl>
    <acl name="VIP"></acl>
    <acl name="Policia"></acl>
    <acl name="Sura"></acl>
    <acl name="Meca"></acl>
    <acl name="Ejercito"></acl>
    <acl name="MAFIARUSA"></acl>
    <acl name="ELN"></acl>
    <acl name="CDG"></acl>
    <acl name="CDJ"></acl>
    <acl name="JEFESCLUBKYOTO"></acl>
    <acl name="KYOTOCLUB"></acl>
    <acl name="TDA"></acl>
</acl>
