<acl>
    <group name="Admin">
        <acl name="Admin"></acl>
        <object name="user.Console"></object>
    </group>
    <group name="autoGroup_acpanel">
        <acl name="autoACL_acpanel"></acl>
        <object name="resource.acpanel"></object>
    </group>
    <group name="autoGroup_mapmanager">
        <acl name="autoACL_mapmanager"></acl>
        <object name="resource.mapmanager"></object>
    </group>
    <group name="autoGroup_runcode">
        <acl name="autoACL_runcode"></acl>
        <object name="resource.runcode"></object>
    </group>
    <group name="autoGroup_dgs">
        <acl name="autoACL_dgs"></acl>
        <object name="resource.dgs"></object>
    </group>
    <group name="autoGroup_gresources">
        <acl name="autoACL_gresources"></acl>
        <object name="resource.gresources"></object>
    </group>
    <group name="autoGroup_guieditor">
        <acl name="autoACL_guieditor"></acl>
        <object name="resource.guieditor"></object>
    </group>
    <group name="autoGroup_SKCarregar">
        <acl name="autoACL_SKCarregar"></acl>
        <object name="resource.SKCarregar"></object>
    </group>
    <acl name="Admin">
        <right name="general.adminpanel" access="true"></right>
        <right name="general.modpanel" access="true"></right>
        <right name="command.shutdown" access="true"></right>
        <right name="general.tab_players" access="true"></right>
        <right name="general.tab_resources" access="true"></right>
        <right name="general.tab_maps" access="true"></right>
        <right name="general.tab_server" access="true"></right>
        <right name="general.tab_bans" access="true"></right>
        <right name="general.tab_adminchat" access="true"></right>
        <right name="command.kick" access="true"></right>
        <right name="command.freeze" access="true"></right>
        <right name="command.mute" access="true"></right>
        <right name="command.setnick" access="true"></right>
        <right name="command.shout" access="true"></right>
        <right name="command.spectate" access="true"></right>
        <right name="command.slap" access="true"></right>
        <right name="command.setgroup" access="true"></right>
        <right name="command.sethealth" access="true"></right>
        <right name="command.setarmour" access="true"></right>
        <right name="command.setmoney" access="true"></right>
        <right name="command.setskin" access="true"></right>
        <right name="command.setteam" access="true"></right>
        <right name="command.removefromteam" access="true"></right>
        <right name="command.giveweapon" access="true"></right>
        <right name="command.setstat" access="true"></right>
        <right name="command.jetpack" access="true"></right>
        <right name="command.warp" access="true"></right>
        <right name="command.warpto" access="true"></right>
        <right name="command.setdimension" access="true"></right>
        <right name="command.setinterior" access="true"></right>
        <right name="command.createteam" access="true"></right>
        <right name="command.destroyteam" access="true"></right>
        <right name="command.givevehicle" access="true"></right>
        <right name="command.repair" access="true"></right>
        <right name="command.blowvehicle" access="true"></right>
        <right name="command.destroyvehicle" access="true"></right>
        <right name="command.customize" access="true"></right>
        <right name="command.setcolor" access="true"></right>
        <right name="command.setlights" access="true"></right>
        <right name="command.setpaintjob" access="true"></right>
        <right name="command.setplates" access="true"></right>
        <right name="command.listmessages" access="true"></right>
        <right name="command.readmessage" access="true"></right>
        <right name="command.listresources" access="true"></right>
        <right name="command.start" access="true"></right>
        <right name="command.stop" access="true"></right>
        <right name="command.stopall" access="false"></right>
        <right name="command.delete" access="true"></right>
        <right name="command.restart" access="true"></right>
        <right name="command.aclmanager" access="true"></right>
        <right name="command.aclcreate" access="true"></right>
        <right name="command.acldestroy" access="true"></right>
        <right name="command.acladd" access="true"></right>
        <right name="command.aclremove" access="true"></right>
        <right name="command.setpassword" access="true"></right>
        <right name="command.setwelcome" access="true"></right>
        <right name="command.setgame" access="true"></right>
        <right name="command.setmap" access="true"></right>
        <right name="command.setweather" access="true"></right>
        <right name="command.blendweather" access="true"></right>
        <right name="command.setblurlevel" access="true"></right>
        <right name="command.setwaveheight" access="true"></right>
        <right name="command.setskygradient" access="true"></right>
        <right name="command.setgamespeed" access="true"></right>
        <right name="command.setgravity" access="true"></right>
        <right name="command.settime" access="true"></right>
        <right name="command.setfpslimit" access="true"></right>
        <right name="function.shutdown" access="true"></right>
        <right name="command.clearchat" access="true"></right>
        <right name="command.ban" access="true"></right>
        <right name="command.unban" access="true"></right>
        <right name="command.banip" access="true"></right>
        <right name="command.unbanip" access="true"></right>
        <right name="command.banserial" access="true"></right>
        <right name="command.unbanserial" access="true"></right>
        <right name="command.listbans" access="true"></right>
        <right name="command.takescreenshot" access="true"></right>
        <right name="command.deletescreenshot" access="true"></right>
        <right name="command.deleteallscreenshot" access="true"></right>
        <right name="command.viewscreenshot" access="true"></right>
        <right name="command.listscreenshots" access="true"></right>
        <right name="command.execute" access="true"></right>
        <right name="function.setServerConfigSetting" access="true"></right>
        <right name="function.updateResourceACLRequest" access="true"></right>
        <right name="command.aclrequest" access="true"></right>
    </acl>
    <acl name="autoACL_acpanel">
        <right name="function.setServerConfigSetting" access="false" who="" pending="true" date=""></right>
        <right name="function.kickPlayer" access="false" who="" pending="true" date=""></right>
        <right name="function.fetchRemote" access="false" who="" pending="true" date=""></right>
    </acl>
    <acl name="autoACL_mapmanager">
        <right name="function.startResource" access="false" who="" pending="true" date=""></right>
        <right name="function.restartResource" access="false" who="" pending="true" date=""></right>
        <right name="function.stopResource" access="false" who="" pending="true" date=""></right>
        <right name="function.refreshResources" access="false" who="" pending="true" date=""></right>
    </acl>
    <acl name="autoACL_runcode">
        <right name="function.loadstring" access="false" who="" pending="true" date=""></right>
    </acl>
    <acl name="autoACL_dgs">
        <right name="function.fetchRemote" access="false" who="" pending="true" date=""></right>
        <right name="general.ModifyOtherObjects" access="false" who="" pending="true" date=""></right>
    </acl>
    <acl name="autoACL_gresources">
        <right name="function.startResource" access="false" who="" pending="true" date=""></right>
        <right name="function.restartResource" access="false" who="" pending="true" date=""></right>
    </acl>
    <acl name="autoACL_guieditor">
        <right name="general.ModifyOtherObjects" access="false" who="" pending="true" date=""></right>
        <right name="function.callRemote" access="false" who="" pending="true" date=""></right>
    </acl>
    <acl name="autoACL_SKCarregar">
        <right name="function.fetchRemote" access="false" who="" pending="true" date=""></right>
        <right name="function.stopResource" access="false" who="" pending="true" date=""></right>
    </acl>
</acl>
